.center_align {
  text-align: center;
}
.right_align {
  text-align: right;
}
.left_align{
  text-align: left;
}
.margin_auto{
  margin: auto
}

.username {
  font-family: 'Libre Baskerville', serif;
  font-size: 30px
}

.weeklybanner {
  background: #00970B
  color: #ffffff;
}
